theme = "transparent"

[editor]
line-number = "relative"
bufferline = "always"
end-of-line-diagnostics = "hint"

[editor.inline-diagnostics]
cursor-line = "warning"

[keys.normal]
esc = ["collapse_selection", "keep_primary_selection"]
"&" = "match_brackets"
"$" = "goto_line_end"
0 = "goto_line_start"
G = "goto_file_end"
tab = "goto_next_buffer"
C-x = ":bc"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.indent-guides]
render = true
skip-levels = 1
