#!/bin/sh

export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"

export GTK_THEME=Adwaita:dark
export GDK_BACKEND=x11
export GTK_ICON_THEME=Adwaita
export XCURSOR_THEME=Adwaita
export XCURSOR_SIZE=24
